* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

#basket {
    width: 80%;
    margin: 3% auto;
}

#products-container {
    padding: 2% 4%;
    width: 94%;
    margin: 0 3%;
}

.product {
    background-color: white;
    width: 100%;
    padding: 1% 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.product-first-column {
    width: 50%;
}

.product-price {
    width: 30%;
}

.product-amount {
    font-size: 0.8rem;
}

.product-remove {
    font-size: 1.5rem;
    text-align: right;
    background: none;
    border: none;
}

#summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
    min-width: min(300px, 100%);
    margin: 0 auto;
}

.data-container {
    width: 44%;
    min-width: min(300px, 100%);
    height: fit-content;
    padding: 2% 4%;
    margin: 3% 3% 0 3%;
}

input {
    padding: 2%;
    margin: 1%;
    width: 100%;
}

#basket-data > button {
    width: 10%;
    min-width: 120px;
    height: fit-content;
    aspect-ratio: 3 / 1;
    margin: 3%;
    font-size: 100%;
    color: white;
}

@media (max-width: 900px) {
    #basket {
        width: 90%;
    }

    #products-container {
        width: 100%;
        margin: 0;
    }

    .data-container {
        width: 100%;
        margin: 3% 0 0 0; 
    }

    #basket-data > button {
        width: 30%;
    }

    form {
        justify-content: center;
    }
}