* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

#basket {
    margin: 3% 5%;
    width: 90%;
}

#products-container {
    background-color: antiquewhite;
    padding: 2% 4%;
    width: 80%;
    min-width: min(1200px, 100%);
    margin: 0 auto;
}

.container-title {
    font-size: 2em;
}

.product {
    background-color: white;
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.product-name {
    min-width: 30%;
    margin: 1%;
}

.product-price {
    min-width: 18%;
    margin: 1%;
}

.product-amount {
    min-width: 30%;
    margin: 1%;
}

.product-remove {
    min-width: 20px;
    margin: 1%;
    background: none;
    border: none;
}

#summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: min(300px, 100%);
    margin: 0 auto;
}

.data-container {
    background-color: antiquewhite;
    width: 37%;
    min-width: min(600px, 100%);
    height: fit-content;
    padding: 2% 4%;
    margin: 3% 3% 0 3%;
}

input {
    border: none;
    padding: 1%;
    margin: 1%;
    width: 100%;
}

#basket-data > button {
    width: 10%;
    min-width: 120px;
    height: fit-content;
    aspect-ratio: 3 / 1;
    margin: 3% 20%;
    border: none;
    font-size: 100%;
    background-color: #04aa6d;
    color: white;
}