/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

/* TEMPLATE STYLES */

.outer-box { /* white box with borders */
	background-color: white;
	border-radius: 15px;
	border: 1px solid #BFBFBF;
}

.inner-box { /* grey box */
	background-color: #F6F6F6;
	border-radius: 15px;
	border: none;
}

.button { /* blue oval button */
	background-color: #3772FF;
	border-radius: 100vh;
	color: white;
	border: none;
}

h1 { /* Blue semi-bold header */
	color : #1258FF;
	font-weight: 600;
	font-size: 2rem;
}

h2 { /* Black medium-bold header */
	color: black;
	font-weight: 500;
	font-size: 1.8rem;
}

/* HEADER */

.header {
	height: 10vh;
	min-height: 100px;
	width: 100vw;
	padding: 0 8%;
	border-radius: 15px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

nav h1 {
	font-size: xx-large;
	font-weight: 500;
	letter-spacing: -0.19em;
}
nav a {
	text-decoration: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 20px;
	font-size: x-large;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

#logo-link {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-link > img {
	object-fit: scale-down;
	height: 80%;
}
