/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

/* TEMPLATE STYLES */

.outer-box {
	/* white box with borders */
	background-color: white;
	border-radius: 15px;
	border: 1px solid #bfbfbf;
}

.inner-box {
	/* grey box */
	background-color: #f6f6f6;
	border-radius: 15px;
}

input {
	border: 1px solid white;
}

input:focus-visible {
	border: 1px solid #3772ff;
}

.button {
	/* blue oval button */
	background-color: #3772ff;
	border-radius: 100vw;
	color: white;
	border: none;
}

.button-empty {
	background-color: white;
	border: 2px solid #3772ff;
	border-radius: 100vw;
	color: black;
}

h1 {
	/* Blue semi-bold header */
	color: #1258ff;
	font-weight: 600;
	font-size: 1.95rem;
}

h2 {
	/* Black medium-bold header */
	color: black;
	font-weight: 500;
	font-size: 1.56rem;
}

/* HEADER */

.header {
	height: 10vh;
	min-height: 100px;
	width: 100vw;
	padding: 0 8%;
	border-radius: 15px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

nav h1 {
	font-size: xx-large;
	font-weight: 500;
	letter-spacing: -0.19em;
}
nav a {
	text-decoration: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 20px;
	font-size: x-large;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

#logo-link {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-link > img {
	object-fit: scale-down;
	height: 65%;
}
