/* HEADER */

.header {
	height: 10vh;
	min-height: 100px;
	width: 100vw;
	padding: 0 8%;
	background-color: antiquewhite;
	position: relative;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

nav h1 {
	font-size: xx-large;
	font-weight: 500;
	letter-spacing: -0.19em;
}
nav a {
	text-decoration: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 20px;
	font-size: x-large;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

#logo-link {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-link > img {
	object-fit: scale-down;
	height: 80%;
}
