* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

/* HEADER */

.header {
	height: 8vh;
	width: 100vw;
	padding: 0 8%;
	background-color: antiquewhite;
	position: relative;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

nav h1 {
	font-size: xx-large;
	font-weight: 500;
	letter-spacing: -0.19em;
}
nav a {
	text-decoration: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 20px;
	font-size: large;
}

.nav-links a {
	text-decoration: none;
	color: black;
}

/* LOGIN */

.login-container {
	height: 90vh;
	display: flex;
	align-items: center;
}

form {
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: antiquewhite;
	height: 450px;
	width: 40%;
}

input[type="text"],
input[type="password"] {
	width: 90%;
	padding: 16px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #04aa6d;
	color: white;
	padding: 18px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 90%;
	margin-top: 10%;
}
