* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

form {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
}

#image-container {
    width: 45%;
    height: fit-content;
    padding: 1%;
}

#image-container > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
}

#data-container {
    width: 50%;
    height: fit-content;
}

input {
    display: block;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    margin: 5% 10%;
    padding: 1em;
}

button {
    display: block;
    width: 30%;
    min-width: 120px;
    margin: 0% auto 5% auto;
    padding: 1em;
}

@media (max-width: 900px) {
    form {
        width: 90%;
        margin: 3% auto;
    }

    #image-container {
        width: 100%;
        padding: 2%;
        margin-bottom: 3%;
    }

    #data-container {
        width: 100%;
    }
}