* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

#form-container {
    width: 90%;
    margin: 0 5%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image-container {
    background-color: antiquewhite;
    width: 30%;
    min-width: 400px;
    padding: 1%;
    height: fit-content;
    margin: 5% 3% 0 3%;
    aspect-ratio: 1 / 1;
}

#image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#data-container {
    background-color: antiquewhite;
    width: 30%;
    min-width: 400px;
    height: fit-content;
    margin: 5% 3%;
}

input {
    display: block;
}

input[type="text"],
input[type="number"] {
    background-color: white;
    width: 80%;
    margin: 5% 10%;
    padding: 1em;
    border: none;
}

button {
    background-color: #04aa6d;
    width: 50%;
    margin: 0% 25% 5% 25%;
    padding: 1em;
    color: white;
    border: none;
}