* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

/* REGISTER */

.login-container {
	/*height: 90vh;*/
	display: flex;
	align-items: center;
	margin: auto;
	width: 80vw;
	height: fit-content;
	margin-top: 30px;
}

form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 10px 0;
}

.columns-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	padding: 16px 20px;
	display: inline-block;
	box-sizing: border-box;
	max-width: 280px;
}

input[type="radio"] {
	margin: 10px 0;
}
textarea {
	width: 100%;
	padding: 16px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	max-width: 280px;
	height: 185px;
}

button {
	padding: 18px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 30%;
	margin-top: 6%;
	min-width: 200px;
	margin-bottom: 30px;
	font-size: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	width: 28%;
	align-items: center;
}

legend {
	text-align: center;
	font-size: 1.2rem;
}

p {
	text-align: center;
}

.input-validation {
	margin: 8px 0;
}

.input-validation .valid {
	color: green;
	font-size: 9px;
	position: absolute;
}

.input-validation .error {
	color: red;
	font-size: 9px;
	position: absolute;
}

#behavioral-data {
	position: fixed;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	background-color: white;
	/*border: 1px solid #3772ff;/*#bfbfbf; */
	border-radius: 15px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
	display: none;
	padding: 1.5% 4%;
	font-size: 1.4em;
	min-width: min(90%, 400px);
}

@media (max-width: 800px) {
	.columns-container {
		flex-direction: column;
	}
	.login-container {
		width: 90vw;
		margin-bottom: 40px;
	}
	.column {
		width: 80%;
	}
	.button {
		width: 80%;
	}
	form {
		margin-top: 0px;
	}
	#behavioral-data {
		
	}
}
