* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

.profile-container {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-top: 50px;
}

.text-container {
	padding: 10px;
}

.details-container p {
	font-size: 1.25rem;
}

.details-container {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
}

.items-container {
	width: 45%;
	height: 100%;
	overflow-y: scroll;
	height: inherit;
}

.items-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.product {
	min-height: 4rem;
	height: fit-content;
	width: 100%;
	padding: 1%;
	margin-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name-amount-container {
	display: flex;
	flex-direction: column;
}

.product-name {
	color: black;
	font-weight: 400;
	font-size: 1.56rem;
	line-height: 1.7rem;
}

.product-price {
	font-weight: 300;
	font-size: 1.56rem;
}

.price-button-container i {
	font-size: 1.4rem;
}

.price-button-container {
	height: 3rem;
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}

#add-button {
	text-decoration: none;
	text-align: center;
	min-width: 120px;
	width: 20%;
	padding: 10px;
}

@media (max-width: 800px) {
	.profile-container {
		width: 90vw;
		flex-direction: column;
	}

	.details-container {
		width: 100%;
		margin-bottom: 20px;
	}

	.items-container {
		width: 100%;
	}

	.button {
		width: 80%;
	}
	#add-button {
		min-width: none;
		height: 50px;
	}
}
