* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

.profile-container {
	width: 90vw;
	height: fit-content;
	min-height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-top: 50px;
}

.text-container {
	padding: 10px;
}

.details-container p {
	font-size: 1.25rem;
}

.details-container {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.orders-container {
	width: 45%;
}

.order-header {
	display: flex;
	justify-content: space-between;
}

.product {
	min-height: 4rem;
	height: fit-content;
	width: 100%;
	padding: 1%;
	margin-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name-amount-container {
	display: flex;
	flex-direction: column;
}

.product-name {
	color: black;
	font-weight: 400;
	font-size: 1.56rem;
	line-height: 1.7rem;
}

.product-price {
	font-weight: 300;
	font-size: 1.56rem;
}

.product-review {
	width: 50%;
	height: 80%;
}

.price-button-container {
	height: 3rem;
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1600px) {
	.profile-container {
		width: 90vw;
		flex-direction: column;
	}

	.details-container {
		width: 100%;
		margin-bottom: 20px;
	}

	.orders-container {
		width: 100%;
	}

	.price-button-container {
		width: 70%;
	}
	.product-review {
		width: 45%;
	}
}
